// Global styling for this theme

html {
}

body {
  position: relative;
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  .masthead {
    height: 100vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $secondary;
  opacity: 0.7;
  z-index: 1;
  display: none;
}

@media (min-width: 768px) {
  .overlay {
    display: block;
  }
}
